{% if pageCount > 1 %}
    {% if first is defined and current != first %}
        <span class="first">
          <button class="pgn" name="{{ (alias ~ '_page') }}" type="submit" value="{{ first }}">&lt;&lt;</button>
        </span>
    {% endif %}

    {% if previous is defined %}
        <span class="previous">
          <button class="pgn" name="{{ (alias ~ '_page') }}" type="submit" value="{{ previous }}">&lt;</button>
        </span>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
              <button class="pgn" name="{{ ( '_page') }}" type="submit" value="{{ page }}">{{ page }}</button>
            </span>
        {% else %}
            <span class="current">
              <span class="a">{{ page }}</span>
            </span>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <span class="next">
          <button class="pgn" name="{{ ( '_page') }}" type="submit" value="{{ next }}">&gt;</button>
        </span>
    {% endif %}

    {% if last is defined and current != last %}
        <span class="last">
          <button class="pgn" name="{{ ( '_page') }}" type="submit" value="{{ last }}">&gt;&gt;</button>
        </span>
    {% endif %}
{% endif %}