<div class="row">
    <div class="mx-autoooo col-md-6">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary btn-sm">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
    <div class="mx-autoooo col-md-6">
        <img src="{{ asset(marque.file |trans) }}" alt="..." wwidth="500">
    </div>
</div>
