
<div class="card">
    <div class="card-header">
        <div class="card-title text-primary"> {{ article.marque}} &nbsp; <span class="card-category"> {{ article.ref1}} &nbsp; &nbsp;  {{ article.ref2}} </span> </div>
        <div class="card-category"></div>
    </div>

    {% if (cardLight == false ) %}
    <img class="card-img-top" src="{{ asset(article.file |trans) }}" alt="">

    <div class="card-body">
        <div class="card-title"> {{ article.nom }} </div>
        <div class="card-title"> {{ article.tag1 }} {% if article.tag2|length %},&nbsp; {% endif %} {{ article.tag2 }} </div>
        
        <p class="card-title text-muted"> {{ article.description }}</p>
    </div>

    <div class="card-footer card-title-right">
        <div>
            <a class="btn btn-primary btn-sm" target="_blank" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
            <div class="btn btn-info btn-sm btn-facebook article-qt-down" data-id="{{article.id}}" data-href="{{ path('article_qtUpDown', {'id': article.id, 'type': 'down'}) }}">-</div>
            <label id="article-qt-{{article.id}}" class="rounded-pill">{{ article.quantite}}</label>
            <div class="btn btn-info btn-sm btn-facebook article-qt-up"   data-id="{{article.id}}" data-href="{{ path('article_qtUpDown', {'id': article.id, 'type': 'up'}) }}">+</div>
        </div>
    </div>
    {% endif %}

</div>
