<div class="row">
    <div class="mx-autoooo  col-md-6">
        {{ form_start(form) }}

        {{ form_row(form.nom) }}
        {{ form_row(form.marque) }}

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.ref1) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.ref2) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.quantite) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.prix) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.tag1) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.tag2) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.tag3) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.tag4) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.tag5) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.tag6) }}
            </div>
        </div>

        {{ form_widget(form) }}

        {{ form_row(form.save) }}
        {{ form_row(form.saveAndAdd) }}


    {{ form_end(form) }}
    </div>
    <div class="mx-autoooo  col-md-6">
        <img src="{{ asset(article.file |trans) }}" alt="..." wwidth="500">
    </div>
</div>